[MASTER]

# List of plugins (as comma separated values of python module names) to load,
# usually to register additional checkers.
load-plugins=
    pylint_protobuf


[MESSAGES CONTROL]

# Disable the message, report, category or checker with the given id(s). You
# can either give multiple identifiers separated by comma (,) or put this
# option multiple times (only on the command line, not in the configuration
# file where it should appear only once). You can also use "--disable=all" to
# disable everything first and then reenable specific checks. For example, if
# you want to run only the similarities checker, you can use "--disable=all
# --enable=similarities". If you want to run only the classes checker, but have
# no Warning level messages displayed, use "--disable=all --enable=classes
# --disable=W".
disable=
    # Warning
    abstract-method, # W0223
    arguments-differ, # W0221
    arguments-renamed, # W0237
    attribute-defined-outside-init, # W0201
    cell-var-from-loop, # W0640
    fixme, # W0511
    raise-missing-from, # W0707
    redefined-builtin, # W0622
    unused-argument, # W0613

    # Convention
    bad-continuation, # C0330
    bad-whitespace, # C0326
    consider-using-f-string, # C0209
    import-outside-toplevel, # C0415
    invalid-name, # C0103
    line-too-long, # C0301
    missing-class-docstring, # C0115
    missing-function-docstring, # C0116
    missing-module-docstring, # C0114

    # Refactor
    consider-using-from-import, # R0402
    duplicate-code, # R0801
    inconsistent-return-statements, # R1710
    no-else-return, # R1705
    no-self-use, # R0201
    too-few-public-methods, # R0903
    too-many-arguments, # R0913
    too-many-branches, # R0912
    too-many-instance-attributes, # R0902
    too-many-locals, # R0914
    too-many-public-methods, # R0904
    too-many-return-statements, # R0911
    trailing-comma-tuple, # R1707
    use-a-generator, # R1729
    use-list-literal, # R1734


[FORMAT]

# Maximum number of characters on a single line.
max-line-length=100
